In [79]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
from os import path

df = pd.read_csv ('/Users/BeckyIngram/Downloads/Energie_and_Mining_Edited.csv')

In [82]:
# df.iloc[1]
df.head(-5)

,Country,Year,Indicator,Value,Unnamed: 4
0,Austria,01.01.2016,CO2 emissions from gaseous fuel consumption (%...,26,770901713.0
1,Austria,01.01.2015,CO2 emissions from gaseous fuel consumption (%...,25,707787155.0
2,Austria,01.01.2014,CO2 emissions from gaseous fuel consumption (%...,25,57585756.0
3,Austria,01.01.2013,CO2 emissions from gaseous fuel consumption (%...,25,862068966.0
4,Austria,01.01.2012,CO2 emissions from gaseous fuel consumption (%...,26,923982113.0
...,...,...,...,...,...
130,Poland,01.01.2018,Natural gas rents (% of GDP),0,72761917.0
131,Poland,01.01.2017,Natural gas rents (% of GDP),0,55877878.0
132,Poland,01.01.2016,Natural gas rents (% of GDP),0,40956270.0
133,Poland,01.01.2015,Natural gas rents (% of GDP),0,66979084.0
134,Poland,01.01.2014,Natural gas rents (% of GDP),0,86224030.0

In [83]:
pd.date_range('1/1/2016', periods=1)

DatetimeIndex(['2016-01-01'], dtype='datetime64[ns]', freq='D')